{%extends "base.html"%}

{%block content%}
<p>An example article.

Code snippets:
<pre><code class="language-python line-numbers">print("hello world")
</code></pre>

Images can be stored in static/img/
<div class="row">
  <div class="column">
      <img src="../static/img/article_0000/image_0.jpeg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;" alt="image 0">
  </div>
  <div class="column">
      <img src="../static/img/article_0000/image_1.jpeg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;" alt="image 0">
  </div>
</div>
</p>
{%endblock %}